<div class="wrapper">
	<h1 id='title'>MURJAN 6, 1201 - JBR</h1>

	<div class="map">
		<iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=murjan%206%2C%20dubai&key=AIzaSyB_PiH7n08aQbed89gwMz340nH1J4qpCKQ"></iframe>
	</div>
</div>
